<%= error_messages_for :contract %>

<%= labelled_form_for :contract, :html => {:id => 'bsc-plugin-sales-form'} do |f| %>
  <%= hidden_field_tag :contract_id, @contract.id %>
  <%= required f.text_field(:client_name) %>
  <%= labelled_form_field(_('Client type'), f.select(:client_type, BscPlugin::Contract::ClientType.types.map{|type| [BscPlugin::Contract::ClientType.names[type], type]}))%>
  <%= labelled_form_field(_('Business type'), f.select(:business_type, BscPlugin::Contract::BusinessType.types.map{|type| [BscPlugin::Contract::BusinessType.names[type], type]}))%>
  <%= f.text_field(:state) %>
  <%= f.text_field(:city) %>
  <%= labelled_form_field(_('Status'), f.select(:status, BscPlugin::Contract::Status.types.
        map { |s| [BscPlugin::Contract::Status.names[s], s] })) %>
  <%= f.text_field(:number_of_producers, :size => 8, :id => 'bsc-plugin-contract-spinner') %>
  <%= _('Enterprises')+':' %>

  <% search_action = {:action => 'search_contract_enterprises', :profile => profile.identifier} %>
  <%= token_input_field_tag(:enterprises, 'involved-enterprises', search_action, 
                            { :pre_populate => @contract.enterprises_to_token_input,
                              :hint_text => _('Type in search term for enterprise') }) %>

  <table id="bsc-plugin-sales-table" class="alternate-colors">
    <tr>
      <th class="bsc-plugin-sales-products-column"><%= _('Products') %></th>
      <th class="bsc-plugin-sales-quantity-column" ><%= _('Quantity') %></th>
      <th class="bsc-plugin-sales-price-column" ><%= _('Unit price') %></th>
    </tr>
    <tr id='bsc-plugin-contract-total-row'>
      <td id="bsc-plugin-contract-total-string" colspan="2" ><strong><%= _('Total')%></strong></td>
      <td id="bsc-plugin-contract-total"><strong id='bsc-plugin-sales-total-value'><%= float_to_currency(@contract.total_price)%></strong></td>
    </tr>
    <tr>
      <td colspan="3" class="bsc-plugin-sales-add-new-row"><%= link_to(_('Add new product'), {}, :id => 'bsc-plugin-add-new-product', 'data-bsc' => profile.identifier) %></td>
    </tr>
  </table>

  <%= labelled_form_field( _('Supply period'), 
    text_field_tag('contract[supply_start]', (@contract.supply_start ? @contract.supply_start.strftime("%Y-%m-%d") : nil), :id => 'from', :size => 9) + 
    _(' to ') +
    text_field_tag('contract[supply_end]', (@contract.supply_end ? @contract.supply_end.strftime("%Y-%m-%d") : nil), :id => 'to', :size => 9) )
  %>

  <%= f.text_area(:annotations, :rows => 5, :cols => 68) %>
  <% button_bar do%>
    <%= submit_button(:save, _('Save'), :cancel => {:action => 'manage_contracts'})%>
  <% end %>
<% end %>

<% scripts = %w{/plugins/bsc/jquery.ui.spinner/ui.spinner.js
                /plugins/bsc/contracts /plugins/bsc/datepicker
                /plugins/bsc/spinner} %>
<% scripts.each do |script|%>
  <%= javascript_include_tag script %>
<% end %>

<script>
  BSCContracts.tokenInputOptions = {
    minChars: 3,
    hintText: <%= _('Type in a search term for product').to_json %>,
    noResultsText: <%= _("No results").to_json %>,
    searchingText: <%= _("Searching...").to_json %>,
    searchDelay: 1000,
    preventDuplicates: true,
    backspaceDeleteItem: false,
    tokenLimit: 1,
    onDelete: BSCContracts.onDelete,
    onAdd: BSCContracts.onAdd
  };
  BSCContracts.searchUrl = <%= url_for(
    :action => 'search_sale_product', 
    :profile => profile.identifier, 
    :enterprises => 'ENTERPRISES', 
    :sale_id => 'SALE_ID',
    :added_products => 'ADDED_PRODUCTS',
    :escape => true).to_json %>.replace(/amp;/g,"");
  BSCContracts.currencyUnit = <%= profile.environment.currency_unit.to_json %>;
  BSCContracts.prePopulate( <%= @contract.sales.map{|sale| {
    :id => sale.product_id,
    :name => short_text(product_display_name(sale.product), 60),
    :product_price => sale.price || sale.product.price || 0,
    :quantity => sale.quantity}}.to_json
  %>);
</script>

<%= javascript_include_tag '/plugins/bsc/validation' %>
