<% extend SubOrganizationsPlugin::SearchHelper %>
<div class="related-organizations-list-block">

  <h1><%= _("#{profile.name}'s sub-#{organization_type.pluralize}") %></h1>
  <ul>
  <% organizations.each do |organization| %>
    <li class="related-organizations-item">
      <div class="related-organizations-item">
        <div class="related-organizations-item-column-left">
          <%= profile_image_link organization, :big, 'div' %>
        </div>
        <div class="related-organizations-item-column-right">
          <%= link_to_homepage(organization.name, organization.identifier, :class => "search-result-title") %>
          <div class="related-organizations-description">
            <% if organization.description %>
              <% body_stripped = strip_tags(organization.description) %>
            <% elsif organization.home_page and organization.home_page.body %>
              <% body_stripped = strip_tags(organization.home_page.body) %>
            <% end %>
            <%= excerpt(body_stripped, body_stripped.first(3), 200) if body_stripped %>
          </div>
          <div class="related-organizations-region">
            <span class="related-organizations-region-label"><%= _("City") %></span>
            <% if organization.region %>
              <span class="related-organizations-region-name"><%= city_with_state(organization.region) %></span>
            <% elsif organization.city and organization.state %>
              <span class="related-organizations-region-name"><%= "#{organization.city}, #{organization.state}" %></span>
            <% end %>
          </div>

          <div class="related-organizations-categorization">
            <% organization.top_level_categorization.each do |parent, children| %>
              <div class="related-organizations-category-<%=parent.id%> related-organizations-category">
                <span class="related-organizations-categorization-parent"><%= parent.name %></span>
                <span class="related-organizations-categorization-children">
                  <%= children.collect(&:name).join(', ')  %>
                </span>
              </div>
            <% end %>
          </div>
        </div>

        <br class="clearfix" />

      </div>
    </li>
  <% end %>
  </ul>

  <div id='pagination-related-organizations'>
    <%= pagination_links(organizations, {:param_name => 'npage', :page_links => true})  %>
  </div>

  <% button_bar(:class => "related-organizations-button-bar") do %>
    <%= button :back, _('Go back'), { :controller => 'profile' } %>
    <%= button :add, _("Add a new #{organization_type}"), :controller => 'sub_organizations_plugin_myprofile', :action => 'index' if logged_in? && user.has_permission?(:edit_profile, profile) && !environment.enabled?("disable_asset_#{organization_type.pluralize}") %>

    <% if !@full %>
      <%= button :more, _('View all'), { :controller => 'sub_organizations_plugin_profile', :action => params[:action], :type => organization_type } %>
    <% end %>
 <% end %>

</div>
