<h1><%= _('Select the groups where you want to publish your article') %></h1>

<% if !@failed.blank? %>
  <div class="errorExplanation" id="errorExplanation">
    <p><%=_("There were errors with the following communities: ")%></p>
    <% @failed.each do |error, communities|%>
      <strong> <%= error %>: </strong>
      <ul>
        <% communities.each do |community| %>
            <li> <%= community %> </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>

<%= form_tag do%>
  <%= hidden_field_tag :back_to, @back_to %>
  <% @groups.each do |group| %>
    <%= labelled_check_box group.name, "marked_groups[#{group.id}][group_id]", group.id, @marked_groups.include?(group) %><br />
    <%= labelled_text_field _('Title') + ': ', "marked_groups[#{group.id}][name]", @article.name, :style => 'width: 100%' %>
    <hr />
  <% end %>

  <% button_bar do %>
    <%= submit_button 'spread', _('Spread this'), :cancel => @back_to %>
  <% end %>
<% end %>
