<div id="manage_favorite_enterprises">

<h1><%= _("%s's favorite enterprises") % profile.name %></h1>

<ul class="profile-list">
<% @favorite_enterprises.each do |enterprise| %>
  <li>
    <%= link_to_profile profile_image(enterprise) + '<br/>'.html_safe + enterprise.name,
                        enterprise.identifier, :class => 'profile-link' %>
    <%# profile_image_link enterprise, :portrait, 'div' %>
    <div class="controll">
      <%= link_to content_tag('span',_('remove')),
          { :action => 'remove', :id => enterprise.id },
            :class => 'button icon-delete',
            :title => _('remove') %>
    </div><!-- end class="controll" -->
  </li>
<% end %>
</ul>

<% if @favorite_enterprises.empty? %>
<p>
<em>
  <%= _('You have no favorite enterprises yet.') %>
</em>
</p>
<% end %>

<% button_bar do %>
  <%= button(:back, _('Go back'), :controller => 'profile_editor') %>
<% end %>

</div><!-- end id="manage_friends" -->

