<fieldset class="field-box" <%='style="display:none"' if f.object._destroy %> >
  <legend><%= type_to_label(f.object.type) %></legend>
  <div>
  <%= required f.label :name, _('Name:') %>
  <%= f.text_field :name, :style => 'width: 14em' %>

  <%= f.hidden_field :type %>

  <%= f.check_box :mandatory %>
  <%= f.label :mandatory, _('Mandatory') %>

  <%= f.hidden_field(:position) %>

  <%= f.hidden_field :_destroy, :class => 'destroy-field' %>
  <%= button_to_function :delete, _('Remove field'), "customFormsPlugin.removeFieldBox(this, #{CGI::escapeHTML(_('Are you sure you want to remove this field?').to_json)})" %>
  <%= yield %>
</div>
</fieldset>
